* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    font-size: small;
    color: gray;
    padding: 1rem 0;
    margin: 1rem 0;
    text-align: center;
}

legend {
    background-color:#555555;
    color: white;
    padding: 3px 6px;
}

input {
    margin: 0.4rem;
}

#practiceApp input:checked + label {
    font-weight: bold;
}

input[type='text'] {
    border: #000000 1px solid;
    font-size: 2rem;
    width: 16ch
}

#answer.correct {
    border: #00AA00 1px solid;
}

#answer.incorrect {
    border: #FF0000 1px solid;
}

#result.correct {
    color: #00AA00;
}

#result.incorrect {
    color: #FF0000;
}

section {
    max-width: 75ch;
    margin: 3rem auto;
}

#quiz {
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
}

label {
    font-size: larger;
}

input[type='submit'], input[type='reset'] {
    font-size: large;
}
